<div data-role="page" id="pageone">
  <div data-role="panel" id="overlayPanel" data-display="overlay"> 
    <h2>Menu bar</h2>
    <p>메뉴바 테스트 페이지</p>
    <a href="#pageone"class="ui-btn ui-btn-inline ui-shadow ui-corner-all ui-btn-a ui-icon-delete ui-btn-icon-left">Close</a>
    <a href="/users/sign_out" class="ui-btn ui-btn-inline ui-shadow ui-corner-all ui-btn-a ui-icon-delete ui-btn-icon-left">sign_out</a>
  </div> 

  <div data-role="header">
    <a href="#overlayPanel">menu</a>
    <h1>What?!</h1>
  </div>
  <div class="second_menu">
      
        <div class="container-fluid">
            <div class="row">  
              <div class="col-xs-4">
              <div class="se_div_menu" style="border-left: 1px solid #cccccc">
                  <a href="@@@">
                      <span class="se_span_menu">오늘의 중사친</span>
                  </a>
              </div>
              </div>
              <div class="col-xs-4">
              <div class="se_div_menu">
                  <a href="@@@">
                      <span class="se_span_menu">쪽지보관함</span>
                  </a>
              </div>
              </div>
              <div class="col-xs-4">
              <div class="se_div_menu">
                  <a href="@@@">
                      <span class="se_span_menu">연락처</span>
                  </a>
              </div>
            </div>  
        </div>
  </div>
    
  <div class="date">
    <h4>  date : <%=Time.now%></h4> <!--수정 필요!!-->
  </div>
    
  <div class="front_profile">
    <img src="<%=@interest.photo%>" class="front_img"> <!--사진크기 어떻게 하지..-->
    <br>  <br>
  <div class="container-fluid">
    <div class="row"> 
        <div class="col-xs-6">
          <div class="simple_profile">
          <p>별명: <%=@user.name%></p><br>
          <p>나이: <%=@interest.age%></p><br>
          <p>학과: <%=@interest.major%></p>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="simple_interest">
          관심사:<br>
          <img src="http://i.imgur.com/10rTprT.png" class="interest_img">
          <img src="http://i.imgur.com/10rTprT.png" class="interest_img">
          <img src="http://i.imgur.com/10rTprT.png" class="interest_img"><br>
          <img src="http://i.imgur.com/10rTprT.png" class="interest_img">
          <img src="http://i.imgur.com/10rTprT.png" class="interest_img">
          </div>
        </div>
    </div>
  </div>
  <script>
      $(document).ready(function() {
          $('.card').click(function() {
              $(this).fadeOut('slow')
          })
      })
  </script>
      <img src="https://caufriend3-the-g.c9.io/assets/card.png" class="card"> 
      <!--수정필요!! 사진에 따라 다르지. 현재 강제로 함-->
  </div>  
  
  
  <div class="date">
    <h4>  date</h4>
  </div>
    
  <div class="front_profile">
    <img src="http://i.imgur.com/gWWrrSZ.png" class="front_img">
    <br>  <br>
    <div class="container-fluid">
        <div class="row"> 
            <div class="col-xs-6">
              <div class="simple_profile">
              <p>별명: 제라두</p><br>
              <p>나이: 28</p><br>
              <p>학과: 경영학과</p>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="simple_interest">
              관심사:<br>
              <img src="http://i.imgur.com/10rTprT.png" class="interest_img">
              <img src="http://i.imgur.com/10rTprT.png" class="interest_img">
              <img src="http://i.imgur.com/10rTprT.png" class="interest_img"><br>
              <img src="http://i.imgur.com/10rTprT.png" class="interest_img">
              <img src="http://i.imgur.com/10rTprT.png" class="interest_img">
              </div>
            </div>
        </div>
    </div>
  </div>  
  
  <div data-role="footer" data-position="fixed">
    <h1>다음</h1>
  </div> <!--여기는  a href로 연결-->
</div> 